<h1>View Patient Details</h1>

<p>
  <%= "First Name:" %>
  <%= @patient.firstName %>
</p>
<p>
  <%= "Middle Name:" %>
  <%= @patient.middleName %>
</p>
<p>
  <%= "Last Name:" %>
  <%= @patient.lastName %>
</p>
<p>
  <%= "Weight:" %>
  <%= @patient.weight %>
</p>
<p>
  <%= "Height:" %>
  <%= @patient.height %>
</p>
<p>
  <%= "MRN:" %>
  <%= @patient.mrn %>
</p>

<h2>Encounters:</h2>
<%= link_to "Add Encounter", new_patient_encounter_path(@patient) %>
<table border="1">
  <tr>
    <th>Visit Number</th>
    <th>Admitted At</th>
    <th>Discharged At</th>
    <th>Actions</th>
  </tr>

<% @encounters.each do |e| %>
  <tr>
    <td><%= e.visitNumber %></td>
    <td><%= e.admittedAt %></td>
    <td><%= e.dischargedAt %></td>
    <td><%= link_to "Show", patient_encounter_path(@patient, e) %>
        <%= link_to "Edit", edit_patient_encounter_path(@patient, e) %>
        <%= link_to "Destroy", patient_encounter_path(@patient, e), method: :delete, data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
<% end %>
</table>
  
<p>
  <%= link_to '<button type="button">Back</button>'.html_safe, root_path %>
</p>